/**************
	Reset
**************/
* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body, h1, h3, p, img {
	margin: 0;
}

strong {
	font-weight: bolder;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
}

/**************************** 
	The top half of the page 
*****************************/
.hero {
	/*background-color: lightblue;*/
	background: radial-gradient(ellipse at center, rgba(4,143,168,0) -1%,rgba(4,143,168,0) 0%,rgba(4,143,168,1) 88%,rgba(4,143,168,1) 99%), url(images/bg.jpg);
	height: 510px;
	width: 100%;
	background-image: cover;
}

header {
	/*background-color: orange;*/
	min-height: 180px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

header a {
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 4em;
}

.search {
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	background-color: transparent;
	height: 25px;
	width: 150px;
	border: 1px solid #eee;
}

header button {
	float: right;
	margin-top: 10px;
	background-color: red;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 1.2em;
}

nav {
	/*background-color: green;*/
	height: 52px;
	width: 960px;
	position: absolute;
	bottom: 0;
	text-align: center;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

nav div {
	float: left;
	color: white;
}

nav a {
	font-size: 1em;
	display: inline-block;
	margin: 20px;
}

.below_header {
	/*background-color: skyblue;*/
	width: 960px;
	min-height: 330px;
	margin: 0 auto;
	position: relative;
}

.banner {
	/*background-color: magenta;*/
	width: 960px;
	min-height: 120px;
	bottom: 40px;
	position: absolute;
	text-align: center;
	color: white;
	vertical-align: middle;
}

.banner h1 {
	margin-top: 20px;
	font-weight: normal;
}

.banner p {
	margin-top: 30px;
}


/****************************
	Lower half of the page 
******************************/
.lower {
	/*background-color: purple;*/
	background-color: #D7E1E7;
	height: 760px;
	width: 100%;
}

.lower_top {
	/*background-color: green;*/
	width: 960px;
	min-height: 170px;
	margin: 0 auto;
	text-align: center;
}

/******************** 
	Breakouts 
*********************/

.breakout {
	/*background-color: lime;*/
	background-color: #fff;
	height: 180px;
	width: 300px;
	display: inline-block;
	transform: translateY(-20px);
	margin: 0 8px;
	text-align: center;
	position: relative;
}

.breakout:first-child {
	border-top: 4px solid #EA501A;
}

.breakout:first-child button {
	border: 2px solid #EA501A;
	color: #EA501A;
}

.breakout:nth-child(2) {
	border-top: 4px solid #8ECF41;
}

.breakout:nth-child(2) button {
	border: 2px solid #8ECF41;
	color: #8ECF41;
}

.breakout:last-child {
	border-top: 4px solid #0792D3;ß
}

.breakout:last-child button {
	border: 2px solid #0792D3;
	color: #0792D3;
}

.breakout h3 {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.breakout p {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.breakout button {
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
	background-color: transparent;
	border-radius: 5px;
	font-size: 1.2em;
	white-space: nowrap;
	height: 30px;
}

.lower_bottom {
	/*background-color: pink;*/
	width: 960px;
	min-height: 540px;
	margin: 0 auto;
}

/**************************** 
	Left lower half of page 
*****************************/

aside {
	/*background-color: lightgreen; */
	background-color: #fff;
	width: 440px;
	min-height: 540px;
	float: left;
	padding: 10px;
}

/*********************** 
	Media Object 
************************/
.media_container {
	/*background-color: red;*/
	background-color: #E8F3F9;
	min-height: 100px;
	overflow: hidden;
	margin-bottom: 10px;
}

.media_content h3 {
	color: #A8BCDD;
	margin-bottom: 5px;
}

.media_container img {
	/*background-color: black;*/
	float: left;
	width: 100px;
	height: 100px;
}

.media_content {
	/*background-color: yellow;*/
	margin: 15px 0 0 110px;
}

/*****************************
	Right lower half of page 
******************************/
.profile_box {
	/*background-color: blue;*/
	background-color: #fff;
	width: 515px;
	min-height: 540px;
	margin-left: 440px; 
}

.profile {
	/*background-color: yellow;*/
	background-color: #8ECF41;
	width: 155px;
	margin: 10px 5px 5px 5px;
	display: inline-block;
	vertical-align: top;
	color: #99894E;
}

.profile h3 {
	padding: 7px 0;
	color: #717407;
}

.profile img {
	/*background-color: black;*/
	width: 155px;
	height: 155px;
}
.profile p{
	background-color: #E3EFD6;
	padding: 7px 0;
	}	