/**************
	Reset
**************/
* {
	box-sizing: border-box;
	font-family: sans-serif, arial;
}

body, h1, h3, p, img {
	margin: 0;
}

a, a:hover, a:visited {
	text-decoration: none;
}

/**************************** 
	The top half of the page 
*****************************/

.hero {
	background: radial-gradient(ellipse at center, rgba(4,143,168,0) -1%,rgba(4,143,168,0) 0%,rgba(4,143,168,1) 88%,rgba(4,143,168,1) 99%), url(images/bg.jpg);
	height: 510px;
	width: 100%;
	background-image: cover;
}

header {
	height: 510px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

/***********************
		Logo
************************/

header a {
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 3em;
}

.search {
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	background-color: transparent;
	height: 30px;
	width: 150px;
	border: 1px solid #eee;
}

header button {
	float: right;
	height: 30px;
	margin-top: 10px;
	background-color: #EA501A;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 1.2em;
}

nav {
	height: 52px;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, .4);
	border-bottom: 1px solid rgba(255, 255, 255, .4);
}

nav div {
	float: left;
	color: white;
}

nav a {
	font-size: 1em;
	display: inline-block;
	margin: 18px 20px 0px 20px;
}

.banner {
	width: 960px;
	min-height: 120px;
	bottom: 40px;
	position: absolute;
	text-align: center;
	color: white;
	vertical-align: middle;
}

.banner h1 {
	margin-top: 20px;
	font-weight: lighter;
}

.banner h1 strong {
	font-weight: 900;
}

.banner p {
	margin-top: 30px;
}


/****************************
	Lower half of the page 
******************************/

.main-container {
	background-color: #D7E1E7;
	width: 100%;
	min-height: 840px;
}

main {
	background-color: #fff;
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
/******************** 
	Breakouts 
*********************/

.breakouts-container {
	background-color: #D7E1E7;
	min-height: 170px;
	margin: 0 auto;
	text-align: center;
}

.breakout {
	background-color: #fff;
	height: 180px;
	width: 300px;
	display: inline-block;
	transform: translateY(-20px);
	margin: 0 8px;
	text-align: center;
	position: relative;
}

.breakout:first-child {
	border-top: 4px solid #EA501A;
	box-shadow: 0 0 20px -10px #000;
}

.breakout:first-child button {
	border: 2px solid #EA501A;
	color: #EA501A;
}

.breakout:nth-child(2) {
	border-top: 4px solid #8ECF41;
	box-shadow: 0 0 20px -10px #000;
}

.breakout:nth-child(2) button {
	border: 2px solid #8ECF41;
	color: #8ECF41;
}

.breakout:last-child {
	border-top: 4px solid #0792D3;
	box-shadow: 0 0 20px -10px #000;
}

.breakout:last-child button {
	border: 2px solid #0792D3;
	color: #0792D3;
}

.breakout h3 {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.breakout p {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.breakout button {
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
	background-color: transparent;
	border-radius: 5px;
	font-size: 1.2em;
	white-space: nowrap;
	height: 30px;
}


/**************************** 
	Left lower half of page 
*****************************/

section {
	background-color: #fff;
	box-shadow: 0 0 20px -10px #000;
}

/*********************** 
	Media Objects 
************************/

aside {
	width: 440px;
	float: left;
	padding: 10px;
}

.media-container {
	background-color: #E8F3F9;
	min-height: 100px;
	overflow: hidden;
	margin-bottom: 10px;
}

.media-content h3 {
	color: #A8BCDD;
	margin-bottom: 5px;
}

.media-container img {
	float: left;
	width: 100px;
	height: 100px;
}

.media-content {
	margin: 15px 0 0 110px;
}

/*****************************
	Right lower half of page 
******************************/

.profile-box {
	width: 515px;
	min-height: 540px;
	margin-left: 440px; 
}

.profile {
	background-color: #8ECF41;
	width: 155px;
	margin: 10px 5px 5px 5px;
	display: inline-block;
	vertical-align: top;
	color: #99894E;
}

.profile h3 {
	padding: 7px;
	color: #717407;
}

.profile img {
	width: 155px;
	height: 155px;
}

.profile p{
	background-color: #E3EFD6;
	padding: 7px;
	}	