/**************
	Reset
**************/
* {
	box-sizing: border-box;
	font-family: sans-serif, arial;
}

body, h1, h3, p, img {
	margin: 0;
}

a, a:hover, a:visited {
	text-decoration: none;
}

/**************************** 
	The top half of the page 
*****************************/

.hero {
	background: radial-gradient(ellipse at center, rgba(4,143,168,0) -1%,rgba(4,143,168,0) 0%,rgba(4,143,168,1) 88%,rgba(4,143,168,1) 99%), 
				url(images/bg.jpg);
	height: 510px;
	width: 100%;
	background-image: cover;
}

.hero > div {
	height: 510px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

header {
	height: 150px;
	position: relative;
}

/***********************
	Logo and Form
************************/

div.logo a {
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 3em;
	float: left;
}

.search input{
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	background-color: transparent;
	height: 30px;
	width: 150px;
	border: 1px solid #eee;
}

.search button {
	float: right;
	height: 30px;
	margin-top: 10px;
	background-color: #EA501A;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 1.2em;
}

/***********************
	Nav and Banner
************************/

nav {
	height: 52px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, .4);
	border-bottom: 1px solid rgba(255, 255, 255, .4);
}

nav a {
	display: inline-block;
	color: white;
	padding: 10px 20px;
	margin-top: 8px;
}

.banner {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	color: white;
	text-align: center;
}

.banner h1 {
	font-weight: lighter;
}

.banner h1 strong {
	font-weight: 900;
}

/****************************
	Lower half of the page 
******************************/

.main-container {
	background-color: #D7E1E7;
	width: 100%;
	padding-bottom: 25px;
}

main {
	background-color: #fff;
	width: 960px;
	margin: 0 auto;
}
/******************** 
	Breakouts 
*********************/

.breakouts-container {
	background-color: #D7E1E7;
	min-height: 170px;
	margin: 0 auto;
	text-align: center;
}

.breakout {
	background-color: #fff;
	height: 180px;
	width: 300px;
	display: inline-block;
	transform: translateY(-20px);
	margin: 0 8px;
	box-shadow: 0 0 20px -10px #000;
}

.breakout:first-child {
	border-top: 4px solid #EA501A;
}

.breakout:first-child button {
	border: 2px solid #EA501A;
	color: #EA501A;
}

.breakout:nth-child(2) {
	border-top: 4px solid #8ECF41;
}

.breakout:nth-child(2) button {
	border: 2px solid #8ECF41;
	color: #8ECF41;
}

.breakout:last-child {
	border-top: 4px solid #0792D3;
}

.breakout:last-child button {
	border: 2px solid #0792D3;
	color: #0792D3;
}

.breakout h3 {
	margin-top: 22px;
}

.breakout p {
	margin-top: 22px;
}

.breakout button {
	margin-top: 22px;
	background-color: transparent;
	border-radius: 5px;
	font-size: 1.2em;
	height: 30px;
	bottom: 10px;
}


/**************************** 
	Left lower half of page 
*****************************/

.main-container > div {
	box-shadow: 0 0 20px -10px #000;
	padding-bottom: 10px;
}

aside {
	width: 450px;
	float: left;
	padding: 10px;
}

.profile-box {
	margin-left: 450px; /* offset aside width */
}




/*********************** 
	Media Objects 
************************/


.media-container {
	background-color: #E8F3F9;
	min-height: 100px;
	overflow: hidden;
	margin-bottom: 10px;
}

.media-container img {
	float: left;
	width: 100px;
	height: 100px;
}

.media-content {
	margin: 15px 0 0 110px;
}

.media-content h3 {
	color: #0792D3;
	margin-bottom: 5px;
}


/*****************************
	Right lower half of page 
******************************/


.profile {
	background-color: #8ECF41;
	width: 155px;
	margin: 10px 5px 5px 5px;
	display: inline-block;
	vertical-align: top;
	color: #3C6807;
}

.profile h3 {
	padding: 7px;
	color: #3C6807;
}

.profile img {
	width: 155px;
	height: 155px;
}

.profile p {
	background-color: #E3EFD6;
	padding: 7px;
	}	